<!DOCTYPE html>
<!-- 
Template Name: Savehyip
Version: 1.0.0
Author: WebstrotSavehyip

-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->


<!-- Mirrored from webstrot.com/html/savehyip/light_version/all_transactions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Apr 2021 13:14:45 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <title>GoldLineBreeze</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description"  content="GoldLineBreeze" />
    <meta name="keywords"  content="GoldLineBreeze" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <!--Template style -->
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css/flaticon2.css" />
	<link rel="stylesheet" type="text/css" href="css/dropify.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="css/nice-select.css" />
    <link rel="stylesheet" type="text/css" href="css/datatables.css" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
	 <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
<script src='../../../google_analytics_auto.js'></script></head>
<!-- color picker start -->

<body>
    <%- include('includes/nav'); -%>
            <!--  my account wrapper end -->    
            <!--  transactions wrapper start -->
            <div class="last_transaction_wrapper float_left">

                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                        <div class="sv_heading_wraper">

                            <h3> Todays Tasks</h3>
                            <%if(message.length>0){%>
                                <div class="alert alert-danger">
                                    <%= message %>
                                </div>
                                 <%}%>
                        </div>
                    </div>
                    <%if(activetasks.length ==0){%>
                        <h6>No tasks Available</h6>
                        <%}else{%>
                            <div class="crm_customer_table_main_wrapper float_left">
                                <div class="crm_ct_search_wrapper">
                                    <div class="crm_ct_search_bottom_cont_Wrapper">
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="myTable table datatables cs-table crm_customer_table_inner_Wrapper">
                                        <thead>
                                            <tr>
                                                <th class="width_table1">Date</th>
                                                <th class="width_table1">Tasks</th>
                                                <th class="width_table1">instructions</th>
        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%activetasks.forEach(activetask=>{%>
                                                <tr class="background_white">
        
                                                    <td>
                                                        <div class="media cs-media">
            
                                                            <div class="media-body">
                                                                <h5><%=date%></h5>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="pretty p-svg p-curve"><%if(activetask=="blog"){%>
                                                        BlogChallange
                                                        <%}else if(activetask=="invite"){%>
                                                            Invitation Challange
                                                            <%}else if(activetask=="link"){%>
                                                                view/shareLink
                                                                <%}else if(activetask=="pic"){%>
                                                                    share picture
                                                                    <%}else if(activetask=="survey"){%>
                                                                        Participate in a survey<%}%>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="pretty p-svg p-curve">Go to the challenge</div>
                                                    </td>
                                                    <td>
                                                        <nav class="navbar navbar-expand">
                                                            <ul class="navbar-nav">
                                                                <!-- Dropdown -->
                                                                <li class="nav-item dropdown">
                                                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu"> <a class="dropdown-item" href="/tasks/<%=activetask%>">Go</a>
                                                                        
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </td>
                                                </tr>
                                                <%})%>
                                        </tbody>
                                    </table>
        
                                </div>
                            </div>
                            <%}%>
                   
                </div>
            </div>
            <!--  transactions wrapper end -->
            <!--  footer  wrapper start -->
            <%- include('includes/footer'); -%>
            </div>
            <!--  footer  wrapper end -->      
    <!-- main box wrapper End-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.js"></script>
	<script src="js/dropify.min.js"></script>
	<script src="js/owl.carousel.js"></script>
    <script src="js/jquery.countTo.js"></script>
	<script src="js/plugin.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/datatables.js"></script>
    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/custom.js"></script>
    <!--main js file end-->
</body>


<!-- Mirrored from webstrot.com/html/savehyip/light_version/all_transactions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Apr 2021 13:14:58 GMT -->
</html>